<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daigou.core.dao.GoodsMapper">
    <!-- Result Map-->
    <resultMap id="baseResultMap" type="com.daigou.core.domain.Goods">
        <result column="uuid" property="uuid"/>
        <result column="type_uuid" property="typeUuid"/>
        <result column="type_name" property="typeName"/>
        <result column="goods_name" property="goodsName"/>
        <result column="price" property="price"/>
        <result column="counter" property="counter"/>
        <result column="bid" property="bid"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- dg_goods table all fields -->
    <sql id="base_column_list">
        uuid,type_uuid,goods_name,price,counter,bid,create_time,update_time,status,remark
    </sql>

    <!-- 查询条件 -->
    <sql id="base_where_clause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="uuid != null and uuid != ''">
                and uuid = #{uuid}
            </if>
            <if test="typeUuid != null and typeUuid != ''">
                and type_uuid = #{typeUuid}
            </if>
            <if test="goodsName != null and goodsName != ''">
                and goods_name = #{goodsName}
            </if>
            <if test="price != null">
                and price = #{price}
            </if>
            <if test="counter != null">
                and counter = #{counter}
            </if>
            <if test="bid != null">
                and bid = #{bid}
            </if>
            <if test="createTime != null and createTime != ''">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null and updateTime != ''">
                and update_time = #{updateTime}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
        </trim>
    </sql>

    <!-- 插入记录 -->
    <insert id="save" parameterType="com.daigou.core.domain.Goods">
        insert into dg_goods (
        <trim suffixOverrides=",">
            uuid ,
            <if test="typeUuid != null  and typeUuid != '' ">
                type_uuid,
            </if>
            <if test="goodsName != null  and goodsName != '' ">
                goods_name,
            </if>
            <if test="price != null  ">
                price,
            </if>
            <if test="counter != null  ">
                counter,
            </if>
            <if test="bid != null  ">
                bid,
            </if>
            <if test="status != null  ">
                status,
            </if>
            <if test="remark != null  and remark != '' ">
                remark,
            </if>
            create_time,
        </trim>
        ) values (
        <trim suffixOverrides=",">
            #{uuid} ,
            <if test="typeUuid != null  and typeUuid != '' ">
                #{typeUuid},
            </if>
            <if test="goodsName != null  and goodsName != '' ">
                #{goodsName},
            </if>
            <if test="price != null  ">
                #{price},
            </if>
            <if test="counter != null  ">
                #{counter},
            </if>
            <if test="bid != null  ">
                #{bid},
            </if>
            <if test="status != null  ">
                #{status},
            </if>
            <if test="remark != null  and remark != '' ">
                #{remark},
            </if>
            now(),
        </trim>
        )
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="com.daigou.core.domain.Goods">
        update dg_goods set type_uuid=#{typeUuid},goods_name=#{goodsName},price=#{price},counter=#{counter},bid=#{bid},update_time=now(),status=#{status},remark=#{remark} where uuid=#{uuid}
    </update>

    <!-- 删除记录 -->
    <delete id="deleteByUuid" parameterType="String">
        update dg_goods set status=0 where uuid = #{uuid}
    </delete>

    <!-- 根据id查询 商品表 -->
    <select id="getByUuid" resultMap="baseResultMap" parameterType="String">
        select
        g.uuid,g.type_uuid,g.goods_name,g.price,g.counter,g.bid,g.create_time,g.update_time,g.status,g.remark,t.type_name
        from dg_goods g left join dg_goods_type t on g.type_uuid = t.uuid
        where g.uuid = #{uuid}
    </select>

    <!-- 商品表 列表总数-->
    <select id="countByModel" resultType="java.lang.Integer" parameterType="com.daigou.core.domain.Goods">
        select count(1) from dg_goods
        <include refid="base_where_clause"/>
    </select>

    <!-- 根据pages查询 -->
    <select id="getListByPages" resultMap="baseResultMap" parameterType="com.daigou.core.util.Pages">
        select
        g.uuid,g.type_uuid,g.goods_name,g.price,g.counter,g.bid,g.create_time,g.update_time,g.status,g.remark,t.type_name
        from dg_goods g left join dg_goods_type t on g.type_uuid = t.uuid
        where 1=1  and g.status != 0
        <if test="search != null and search != ''">
            and (g.name like CONCAT('%','${search}','%' ) or t.type_name=#{search} )
        </if>
        <if test="startTime != null and startTime != '' ">
            and DATE(g.create_time) &gt;= DATE(#{startTime})
        </if>
        <if test="endTime != null and endTime != '' ">
            and DATE(g.create_time) &lt;= DATE(#{endTime})
        </if>
    </select>

</mapper>
