<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daigou.core.dao.OrderMapper">
    <!-- Result Map-->
    <resultMap id="baseResultMap" type="com.daigou.core.domain.Order">
        <result column="uuid" property="uuid"/>
        <result column="user_uuid" property="userUuid"/>
        <result column="user_name" property="userName"/>
        <result column="account" property="account"/>
        <result column="op_uuid" property="opUuid"/>
        <result column="remark" property="remark"/>
        <result column="status" property="status"/>
        <result column="done_time" property="doneTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- dg_goods table all fields -->
    <sql id="base_column_list">
        uuid,user_uuid,account,op_uuid,status,remark,done_time,create_time,update_time
    </sql>

    <!-- 查询条件 -->
    <sql id="base_where_clause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="uuid != null and uuid != ''">
                and uuid = #{uuid}
            </if>
            <if test="userUuid != null and userUuid != ''">
                and user_uuid = #{userUuid}
            </if>
            <if test="account != null">
                and account = #{account}
            </if>
            <if test="opUuid != null and opUuid != ''">
                and op_uuid = #{opUuid}
            </if>
            <if test="doneTime != null and doneTime != ''">
                and done_time = #{doneTime}
            </if>
            <if test="createTime != null and createTime != ''">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null and updateTime != ''">
                and update_time = #{updateTime}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
        </trim>
    </sql>

    <!-- 插入记录 -->
    <insert id="save" parameterType="com.daigou.core.domain.Order">
        insert into dg_goods (
        <trim suffixOverrides=",">
            uuid ,
            <if test="userUuid != null  and userUuid != '' ">
                user_uuid,
            </if>
            <if test="account != null ">
                account,
            </if>
            <if test="opUuid != null  and opUuid != '' ">
                op_uuid,
            </if>
            <if test="status != null  ">
                status,
            </if>
            <if test="remark != null  and remark != '' ">
                remark,
            </if>
            <if test="doneTime != null  and doneTime != '' ">
                done_time,
            </if>
            create_time,
        </trim>
        ) values (
        <trim suffixOverrides=",">
            #{uuid} ,
            <if test="userUuid != null  and userUuid != '' ">
                #{userUuid},
            </if>
            <if test="account != null ">
                #{account},
            </if>
            <if test="opUuid != null  and opUuid != '' ">
                #{opUuid},
            </if>
            <if test="status != null  ">
                #{status},
            </if>
            <if test="remark != null  and remark != '' ">
                #{remark},
            </if>
            <if test="doneTime != null  and doneTime != '' ">
                #{doneTime},
            </if>
            now(),
        </trim>
        )
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="com.daigou.core.domain.Order">
        update dg_order set user_uuid=#{userUuid},account=#{account},op_uuid=#{opUuid},done_time=#{doneTime},update_time=now(),status=#{status},remark=#{remark} where uuid=#{uuid}
    </update>

    <!-- 删除记录 -->
    <delete id="deleteByUuid" parameterType="String">
        update dg_order set status=0 where uuid = #{uuid}
    </delete>

    <!-- 根据id查询 商品表 -->
    <select id="getByUuid" resultMap="baseResultMap" parameterType="String">
        select
        <include refid="base_column_list"/>
        from dg_order where uuid = #{uuid}
    </select>

    <!-- 商品表 列表总数-->
    <select id="countByModel" resultType="java.lang.Integer" parameterType="com.daigou.core.domain.Order">
        select count(1) from dg_order
        <include refid="base_where_clause"/>
    </select>

    <!-- 根据pages查询 -->
    <select id="getListByPages" resultMap="baseResultMap" parameterType="com.daigou.core.util.Pages">
        select
        o.uuid,o.user_uuid,o.account,o.op_uuid,o.status,o.remark,o.done_time,o.create_time,o.update_time,u.user_name
        from dg_order o
        left join dg_user u on u.uuid = o.user_uuid
        where 1=1 and o.status = 1
        <if test="option != null and option != ''">
            and u.user_name like CONCAT('%','${option}','%' )
        </if>
    </select>

</mapper>
