<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <#include "../include/resources.html" />
    <title>订单编辑页面</title>
    <#include "../include/navbar.html" />
    <link rel="stylesheet" href="/themes/css/bootstrap-table.min.css">
    <script src="/themes/js/bootstrap-table.min.js"></script>
    <script src="/themes/js/order.js"></script>
</head>
<body>
<div class="container">
    <h2>订单编辑页面</h2>
    <form class="form-horizontal" id="orderForm">
        <div class="form-group">
            <label class="col-sm-2 control-label">客户</label>
            <div class="col-sm-10">
                <p class="form-control-static">${model.userName!''}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">商品列表</label>
            <div class="col-sm-10">
                <table id="editOrderDetailTable"></table>
            </div>
        </div>
        <div class="form-group">
            <label for="account" class="col-sm-2 control-label">总价</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="text" name="account" class="form-control" id="account" placeholder="" value="${model.account!''}">
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" onclick="calculateAccount()">计算</button>
                </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="remark" class="col-sm-2 control-label">备注</label>
            <div class="col-sm-10">
                <input type="text" name="remark" class="form-control" id="remark" placeholder="" value="${model.remark!''}">
            </div>
        </div>
        <input type="hidden" name="uuid" id="uuid" value="${model.uuid!''}">
        <input type="hidden" name="userUuid" value="${model.userUuid!''}">
        <div class="alert" role="alert" id="msgTip" style="display: none;"></div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-primary" onclick="editOrder()">保存</button>
            </div>
        </div>
    </form>

</div> <!-- /container -->
<script>
    initEditOrderDetailTable()
</script>
</body>
</html>