<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <#include "../include/resources.html" />
    <title>商品管理页面</title>
    <#include "../include/navbar.html" />
    <link rel="stylesheet" href="/themes/css/bootstrap-table.min.css">
    <script src="/themes/js/bootstrap-table.min.js"></script>
    <script src="/themes/js/goods.js"></script>
</head>

<body>
<div class="container">
    <h2>商品管理页面</h2>
    <div id="toolbar">
        <button id="add" class="btn btn-info" onclick="window.location.href='/goods/addPage.html'">新增</button>
    </div>
    <table id="goodsTable"></table>
</div>

<script>
    initGoodsTable()
</script>

</body>
</html>